# Node
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
venv/

# ML
*.h5
*.pkl
*.joblib
data/
datasets/

# Environment
.env

# OS
.DS_Store


server/serviceAccountKey.json
.env
venv/
__pycache__/
node_modules/
uploads/